body {
  font-family: Arial, sans-serif;
  background-color: #171616;
}

h2 {
  margin: 30px 0;
  color: #fff;
  border-left: 2px solid rgb(224, 27, 27);
  padding-left: 10px;
}

label {
  color: #ddd;
}
.admin-form {
  background-color: #100f0f;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(45, 44, 44, 0.612);
}

.form-row {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}
.header__nav-generes {
  color: #ddd;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  background-color: #100f0f;
  border: 1px solid gray;
  color: #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(93, 92, 92, 0.612);
}

.input_file {

  border: none;
  box-shadow: none;
  background-color: #100f0f;
}

button {
  padding: 10px 15px;
  background: rgb(224, 27, 27);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #100f0f;
  color: #ddd;
}

.admin-table th,
.admin-table td {
  border: 1px solid gray;
  padding: 10px;
}

.poster {
  width: 60px;
}

button{
    font-size: 14px;
    font-weight: bolder;
}

.container{
    margin-bottom: 30px;
}