body {
  background-color: #282727;
}

.header {
  /* Полупрозрачный фон (почти прозрачный) */
  background: rgba(21, 21, 21, 0.735); /* Белый, прозрачность 15% */

  /* Размытие фона за шапкой (эффект "матового стекла") */
  backdrop-filter: blur(3px);

  /* Остальные стили шапки */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 15px;
  box-sizing: border-box;
}

.slider {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.slide {
  display: none; /* скрыт по умолчанию */
  position: relative; /* чтобы надпись позиционировалась внутри слайда */
}

.slide.active {
  display: block;
}

.slide-caption {
  position: absolute;
  bottom: 250px; /* отступ от низа слайда */
  left: 100px; /* отступ слева */
  color: #fff;
  text-shadow: 0 10px 12px rgba(0, 0, 0, 0.7); /* текст читаемый на фото */
  z-index: 2;
}

.slide-logo {
  margin: 0;
  font-size: 40pt;
  font-weight: bold;
}

span{
  color: #e01b1b;
}

.slide-p{
  margin: 10px 0 0px;
  font-size: 24pt;
  margin-bottom: 20px;
}

.slide-btn{
  padding: 10px 20px;
  font-size: 16pt;
  background-color: #ec580e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-wrap {
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
}

.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 10px;
}

#left-btn,
#right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #282727;
  border: none;
}

#left-btn img,
#right-btn img {
  width: 50px;
  height: auto;
}

.slider:hover #left-btn,
.slider:hover #right-btn {
  opacity: 1;
}

#left-btn {
  left: -80px;
}
#right-btn {
  right: -80px;
}
